@font-face {
	font-family: "San Francisco Display Ultralight";
	font-style: normal;
	font-weight: 400;
	src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.svg#San Francisco Display Ultralight") format("svg")
}
@font-face {
	font-family: "San Francisco Display Semibold";
	font-style: normal;
	font-weight: 400;
	src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.svg#San Francisco Display Semibold") format("svg")
}
@font-face {
	font-family: "San Francisco Display Medium";
	font-style: normal;
	font-weight: 400;
	src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.svg#San Francisco Display Medium") format("svg")
}
@font-face {
	font-family: "San Francisco Display Thin";
	font-style: normal;
	font-weight: 400;
	src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.svg#San Francisco Display Thin") format("svg")
}

* {
	color: white;
}
p {
	color: white;
	font-family: "San Francisco Display Ultralight";
	font-size: 20px;
	text-decoration: none;
	text-align: center;
}
.posts_index {
	padding-top: 10vh;
}
.typewrite {
	padding-bottom: 10vh;
}
@media only screen and (min-width: 481px){
.posts_index {
	height: 180px;
	color: white;
	font-family: "San Francisco Display Ultralight";
	font-size: 50px;
}
.posts_index p {
	position: absolute;
	color: white;
	font-family: "San Francisco Display Ultralight";
	font-size: 50px;
}
.zoom {
	transition: transform .2s;
	/* text-align: center;*/
}
.zoom:hover {
	-ms-transform: scale(2);
	/* IE 9 */
	-webkit-transform: scale(2);
	/* Safari 3-8 */
	transform: scale(2);
}
}

* {
	box-sizing: border-box;
	text-decoration: none;
}

#uhoh {
	position: absolute;
	bottom: 0px;
	font-size: 24px;
	font-family: "San Francisco Display Thin";
	width: 100%;
	text-align: center;
}
body {
	background-color: black;

}
h1 {
	font-family: "San Francisco Display Semibold";
	margin: 2.5px;
	/*   color: gray;*/
	font-size: 80px;
	text-align: center;
}
.typewrite {
	text-decoration: none;
	color: black;
	pointer-events: none;
	cursor: default;
	/* padding-left: 100px; */
	font-size: 20px;
	font-family: "San Francisco Display Medium";
	position: absolute;
	text-align: center;
	width: 100%;

}
.nuhah {
	text-decoration: none;
	color: black;
}
.info{
	font-family: "San Francisco Display Thin";
	/*padding-top: 20px;*/
margin: 0px;
}
.testing{
	font-family: "San Francisco Display Medium";
}
@media only screen and (max-width: 480px;) {
.posts_index {
	height: 180px;
	color: white;
	font-family: "San Francisco Display Ultralight";
	font-size: 25px;
}
.posts_index p {
	position: absolute;
	color: white;
	font-family: "San Francisco Display Ultralight";
	font-size: 25px;
}
}
@media only screen and (max-width: 414px;) {
.posts_index {
	height: 180px;
	color: white;
	font-family: "San Francisco Display Ultralight";
	font-size: 20px;
}
.posts_index p {
	position: absolute;
	color: white;
	font-family: "San Francisco Display Ultralight";
	font-size: 20px;
}
}
@media only screen and (max-width: 375px;) {
.posts_index {
	height: 180px;
	color: white;
	font-family: "San Francisco Display Ultralight";
	font-size: 15px;
}
.posts_index p {
	position: absolute;
	color: white;
	font-family: "San Francisco Display Ultralight";
	font-size: 15px;
}
}
@media only screen and (max-width: 320px;) {
.posts_index {
	height: 180px;
	color: white;
	font-family: "San Francisco Display Ultralight";
	font-size: 15px;
	
}
.posts_index p {
	position: absolute;
	color: white;
	font-family: "San Francisco Display Ultralight";
	font-size: 15px;
}
}
